@import './variables';

.nav-bar {
  background: $secondary-dark;
  opacity: 0.8;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  
  .nav-link {
    color: #ffffff;
  }

  .hamburger-toggle {
    path {
      transition: all 0.3s ease;
      stroke: #ffffff;
      stroke-width: 4px;
    }
  }
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $light;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(25, 28, 35, 0.3);
  z-index: 10;
  opacity: 1;

  .nav-link {
    color: $secondary-dark;
  }

  .hamburger-toggle {
     
    path {
      stroke: $secondary-dark;
    }
  }
}

.nav-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0.75rem;

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hamburger-btn {
      display: block;
      visibility: visible;
      opacity: 1;
      background-color: transparent;
      border: none;
    }
  }
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -webkit-transition: height 0.4s ease-out;
}
  
.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;

  .nav-item {
    padding: 2rem 0;

    &:last-child {
      padding-bottom: 1rem;
    }
  }
  
  .nav-link {
    padding: 1rem 2.5rem;
    text-decoration: none;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    display: inline-block;

    &.active {
      color: $accent-color;
    }

    &:hover {
      color: $light;
      transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
    }
  }
}

@media only screen and (min-width: 992px) {
  .nav-center, .nav-list {
    flex-direction: row;
    align-items: center;
  }

  .nav-center {
    .nav-header {
      .hamburger-btn {
        display: none;
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .nav-list {
    .nav-item {
      padding: 0;

      &:last-child {
        padding-bottom: 0;

        .nav-link {
          padding-right: 0;
        }
      }
    }
  }

  .links-container {
    height: auto !important;
  }
}