@import './variables';

.service-list {
  _opacity: 0;
  _transform: translateY(60px);
  _-moz-transform: translateY(60px);
  _-webkit-transform: translateY(60px);

  .col-xs-12 {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card {
    padding: 3.5rem 2rem;
  }

  .card-img-top, .card-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .card-text {
    .hidden {
      overflow: hidden;
      display: inline-block;
    }
  }

  .show-btn {
    background-color: transparent;
    border: none;
    color: $accent-color;
    cursor: pointer;

    &:focus, &:hover {
      background-color: transparent;
      opacity: 0.8;
    }
  }
}

@media only screen and (min-width: 992px) {
  .service-list {
    .col-xs-12 {
      margin-bottom: 0;
    }
  }
}