@import './variables';

.service-list {

  .col-xs-12 {
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card {
    padding: 3.5rem 2rem;
  }

  .card-img-top, .card-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .card-text {
    .hidden {
      overflow: hidden;
      display: inline-block;
    }
  }

  .show-btn {
    background-color: transparent;
    border: none;
    color: $accent-color;
    cursor: pointer;

    &:focus, &:hover {
      background-color: transparent;
      opacity: 0.8;
    }
  }

  .card-img-top {
    svg {
      transition: transform 0.3s ease-out;
      -moz-transition: transform 0.3s ease-out;
      -webkit-transition: transform 0.3s ease-out;
      
      &:hover {
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .service-list {
    .col-xs-12 {
      margin-bottom: 0;
    }
  }
}